StackLayout {
  margin-left: 10;
  margin-right: 10;
  background-color: white;
}
Image {
  margin-top: 5;
  margin-bottom: 5;
}
Button, TextField {
  margin-left: 10;
  margin-right: 10;
  margin-bottom: 7;
}
Button {
 color: white;
  height: 60;
}
.signup-button {
   color: #00A03C;
}
.submit-button {
  background-color: #00A03C;
}
.google-button {
background-color: #BE360C;
}
.fb-button {
background-color: #4267B2;
}