ActionBar {
  margin-top: 20px;
}
TextField {
  border-width: 0;
}
.user-bar {
  margin-top: 10px;
  margin-bottom:10px;
}
.user-info-bar {
  margin-top: -100px;
}
.user-info-bar StackLayout {
 margin-top: 5px;
 margin-bottom: 5px;
}